[submodule "src/qwprot"]
	path = src/qwprot
	url = https://github.com/QW-Group/qwprot.git
	branch = master
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "external/evobot"]
	path = external/evobot
	url = https://github.com/benjdarling/EvoBot.git
